body{
    background-color: lightblue;
}

.o {
    background-image: url("o.gif");
    size: 20px;
}

.player{
    background-image: url("x.gif");
    size: 20px;
}

.actions{
    text-align: center;
}

.container{
    margin: 50px;
    width: 300px;
}

.cell{
    background-color: orange;
    border: 2px solid chocolate;
    float: left;
    height: 96px;
    width: 96px;
}

.cell:hover{
    border-color: red;
}